<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Snap! <%= get_current_dir %></title>
</head>
<body>
  <img src='/__snap__/snap.jpg'/ style="position:absolute;">
  <div align="center">
    <div>
      <h3>Listing <%= get_current_dir %> </h3>
      <table>
        <tr>
          <th>File</th>
          <th>Last Modified</th>
          <th>Size</th>
          <th>Type</th>
        </tr>
        <% get_snap_files.each do |f| %>
        <tr>
          <td><a href="<%= f.relative_to(get_root_dir) %>"><%= f.name %></a></td>
          <td><%= f.mtime %></td>
          <td><%= f.size %> bytes</a></td>
          <td><%= f.type %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</body>
</html>